<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= book.bookName  %> <%= book.authorName  %></h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>

  <div class="col py-3">

    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active"><%= book.bookName  %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>author Updated <%= new Date(book.updatedAt).toUTCString() %> </b>
        <b>bookId:</b> <%= book._id %>
      </div>
    </div>
  
  </div>

  <ul class="list-group">

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Name:</b></div>
        <div class="col"><%= book.bookName %> <%= book.authorName %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>page:</b></div>
        <div class="col"><%= book.page %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Details:</b></div>
        <div class="col"><%= book.details %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
        <div class="col"><%= book.createdAt %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
        <div class="col"><%= book.updatedAt %></div>
      </div>
    </li>
  
  </ul>